body { font-family: sans-serif; padding: 0; margin: 0;}

h1 { margin: 0; padding: 0.6em; color: #999; background-color: #222; font-weight: normal; font-size: 1.2em;}


#content { margin: 1em; }

table { border-collapse: collapse; }

td { padding: 0.3em; }